.article-list-item {
    margin: 0 auto 0 auto;
    width: 100%;
    padding: 30px;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
    font-size: 28px;
    background-color: whitesmoke;
}

.article-list-item:hover{
    background-color: #ffb8b8;
}

a.article-title-link {
    color: #00000091;
}

a.article-title-link:hover {
    color: #00000091;
    text-decoration: none;
}
