{% extends 'destination_dog/base.html' %}
{% load staticfiles %}


{% block header_block %}
    <span class="title">Dog of the Month</span>
{% endblock %}

{% block body_block %}
    <div class="article">
        <img class="article-image" src="{{ MEDIA_URL }}{{ winner.image }}"/><br><br>
        <div class="dog-name"> {{ winner.dog }}</div>
        <div class="owned_by">
           
        </div>
        <div class="article-content">
            <pr>{{ article.article | linebreaks }}</pr>
        </div>
    </div>
{% endblock %}